body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #a0c4ff, #e0f7fa);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  
  .navbar {
    width: 97%;
    background: #dda7ff;
    display: flex;
    justify-content: end;
    padding: 15px 0;
    border-radius: 50px;
    margin-top: 10px;
  }
  
  .navbar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 30px;
    font-size: 1.2em;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #ffd2f7;
    cursor: pointer;
  }
  
  .container {
    width: 90%;
    max-width: 800px;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);;
  }
  
  .form-container {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #f9f9f9;
  }
  
  .form-container:not(:last-child) {
    margin-bottom: 30px;
  }
  
  h1, h2 {
    text-align: center;
    color: #333;
  }
  
  .info-text {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input, select {
    font-family: 'Quicksand', sans-serif;
    font-family: 'Quicksand', sans-serif;
    width: calc(100% - 20px);
    padding: 8px 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    font-family: 'Quicksand', sans-serif;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background: #4499c1;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background: #218838;
  }
  
  .logo {
    z-index: -100;
    position: absolute;
    top: 10%;
    left: 64%;
    width: 450px;
    height: 300px;
  }
  
  .main-image {
    z-index: -100;
    position: absolute;
    top: 300px;
    left: 5%;
    width: 350px;
    height: 300px;
  }
  
  .user-info{
    display: flex;
    justify-content: end;
  }

  .user-info > div{
    margin: 20px;
  }